.row {
     margin-top: 20px;
}
 .row [class^=col-] {
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: #eee;
     background-color: rgba(86,61,124,.15);
     border: 1px solid #ddd;
     border: 1px solid rgba(86,61,124,.2);
}

.jumbotron-new {
  padding: 75px;
  text-align: center;
  background-image: url('/images/jumbo-new.jpg');
  background-position: center;
  color: white;
}

.history-lesson {
  color: #e74c3c;
}
