<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Nissan Garage</title>

    <!-- This is our Google Arvo font -->
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/background-scroll.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navigationImg navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html"><img src="/img/top-logo.png" alt="Nismo" title="Nissan GTR"></a>
        </div>
      </div>
    </nav>

    <main class="cd-main-content">
      <div class="cd-fixed-bg cd-bg-1">
    		<h1>GTR Garage</h1>
    	</div> <!-- cd-fixed-bg -->

  		<div class="cd-scrolling-bg cd-color-2">
  			<div class="cd-container">
          <h4>Nissan GT-R R35</h4>
          <p>The Nissan GT-R is a 2-door 2+2 high performance vehicle produced by Nissan unveiled in 2007.
            It is the successor to the Nissan Skyline GT-R although no longer part of the Skyline range itself,
            the name having been given over to the R35 Series and having since left its racing roots.</p>
          <h4>History</h4>
          <p>Between 1969 and 1974, and again between 1989 and 2002, Nissan produced a high performance version of its Skyline coupe called the Nissan Skyline GT-R.
             This car proved to be iconic for Nissan and achieved much fame and success on both road and track.
             The Nissan GT-R, now a standalone model no longer based on the Skyline, has heritage in the Nissan Skyline GT-R.</p>
  			</div> <!-- cd-container -->
  		</div> <!-- cd-scrolling-bg -->

  		<div class="cd-fixed-bg cd-bg-2">
        <h2>Brother And Rival</h2>
  		</div> <!-- cd-fixed-bg -->

  		<div class="cd-scrolling-bg cd-color-3">
  			<div class="cd-container">
          <h4>Nissan GT-R R34</h4>
          <p>The GF-BNR34 (R34) Skyline GT-R, GT-R V·Spec and GT-R V·Spec N1 models were released in January 1999.
            The R34 GT-R was also shorter (from front to rear), and the front overhang reduced.
            The valve covers were painted glossy red (colour code Cherry Red Effect Z24 or X1020), as opposed to black in previous models.</p>
          <h4>History</h4>
          <p>The Nissan Skyline (Japanese: 日産・スカイライン Nissan Sukairain) is a line of compact cars, sports cars and compact executive cars originally produced by the Prince Motor Company starting in 1957,
            and then by Nissan after the two companies merged in 1966. After the merger, the Skyline and its larger counterpart, the Nissan Gloria,
            were sold in Japan at dealership sales channels called Nissan Prince Shop.</p>
  			</div> <!-- cd-container -->
  		</div> <!-- cd-scrolling-bg -->

  		<div class="cd-fixed-bg cd-bg-3">
        <h2>Closest Sibling</h2>
  		</div> <!-- cd-fixed-bg -->

  		<div class="cd-scrolling-bg cd-color-1">
  			<div class="cd-container">
          <h4>Nissan GT-R R33</h4>
          <p>The E-BCNR33 (R33) was developed in 1995 as a successor to the R32 model.
            The engine in the R33 was nearly identical to the R32.
            It used the same turbochargers and the same specification for the manual gearbox, although the syncros were stronger.
            The engine corrected the R32's weak oil pump drive collar, which tended to fail in higher power applications, by using a wider collar.
            The base model R33 GT-R weighs 1,540 kg (3,400 lb).</p>
          <h4>History</h4>
          <p>The R33 GT-R launched in January 1995 with the base model GT-R and the V·Spec model.
            The V·Spec model weighed in 10 kg (22 lb) heavier, and had sportier suspension resulting in lower ground clearance.
            The V·Spec also featured the newer ATTESA E-TS Pro all wheel drive system, which included an Active Limited Slip differential.
            The V·Spec model also included a four-wheel independent channel anti-lock braking system.</p>
  			</div> <!-- cd-container -->
  		</div> <!-- cd-scrolling-bg -->

  		<div class="cd-fixed-bg cd-bg-4">
        <h2>Experience It Today</h2>
      </div> <!-- cd-fixed-bg -->
    </main> <!-- cd-main-content -->

  </body>
</html>
