<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Nissan Garage</title>

    <!-- This is our Google Arvo font -->
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/custom2.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navigationImg navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html"><img src="/img/top-logo.png" alt="Nismo" title="Nissan GTR"></a>
        </div>
      </div>
    </nav>

    <div class="jumbotron jumbotron-new">
      <div class="container history-lesson">
        <h1>GTR History Lesson</h1>
      </div>
    </div>

    <div class="container">
      <h1>Most Famous Nissan's</h1>
      <p>This is a long history of the most famous Nissan's that has earned there place in the GTR Ranking</p>
      <div class="row car-type">
        <div class="col-md-8">
          <img src="/img/grid-pic1.jpg" alt="Nissan 2000GTR">
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.mollit anim id est laborum.mollit anim id est laborum.mollit anim </p>
        </div>
      </div>

      <div class="row car-type">
        <div class="col-md-8">
          <img src="/img/grid-pic1.jpg" alt="Nissan GTR R32">
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.mollit anim id est laborum.mollit anim id est laborum.mollit anim </p>
        </div>
      </div>

      <div class="row car-type">
        <div class="col-md-8">
          <img src="/img/grid-pic1.jpg" alt="Nissan GTR R33">
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.mollit anim id est laborum.mollit anim id est laborum.mollit anim </p>
        </div>
      </div>

      <div class="row car-type">
        <div class="col-md-8">
          <img src="/img/grid-pic1.jpg" alt="Nissan GTR R34">
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.mollit anim id est laborum.mollit anim id est laborum.mollit anim </p>
        </div>
      </div>

      <div class="row car-type">
        <div class="col-md-8">
          <img src="/img/grid-pic1.jpg" alt="Nissan GTR R35">
        </div>
        <div class="col-md-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.mollit anim id est laborum.mollit anim id est laborum.mollit anim </p>
        </div>
      </div>
    </div>

  </body>
</html>
