<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Book Now</title>

    <!-- This is our Google Arvo font -->
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="../../../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../../css/main.css" rel="stylesheet">
    <link href="../../../../css/background-scroll.css" rel="stylesheet">
    <link href="../../../../css/media_queries.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navigationImg navbar-header">
          <a class="navbar-brand" href="../../../../index.html"><img src="../../../../img/top-logo.png" alt="Nismo" title="Go Back Home"></a>
        </div>
      </div>
    </nav>

    <div class="cd-scrolling-bg cd-color-2" id="tempform">
      <div class="alert alert-info" style="margin-top: 10px;">
        <strong>The form below is a template</strong>
      </div>
  
      <h3>Bookings</h3>
      <p>Booking a test drive with a car of your choice</p>
  
      <form action="../../../../index.html">
        <div class="form-group">
          <label for="car">Which car would you like to try out ?</label>
          <select class="form-control" name="cars" id="cars">
            <option value="">-- choose a car --</option>
            <option value="Nissan_Skyline_GTR_R35">Nissan Skyline GTR R35</option>
            <option value="Nissan_Skyline_GTR_R34">Nissan Skyline GTR R34</option>
            <option value="Nissan_Skyline_GTR_R33">Nissan Skyline GTR R33</option>
            <option value="Nissan_Skyline_GTR_R32">Nissan Skyline GTR R32</option>
          </select>
        </div>

        <div class="form-group">
          <label for="email1">Please enter your email address <i class="required-star">*</i></label>
          <input type="email" class="form-control" id="email1" placeholder="name@example.com">
        </div>

        <div class="form-group">
          <label for="email1">Which day are you booking for ?<i class="required-star">*</i></label>
          <div class='input-group date' id='datetimepicker1'>
              <input type='date' class="form-control" />
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../js/bootstrap.min.js"></script>
  </body>
</html>
